bottle==0.13.2
bottle-websocket==0.2.9
Eel==0.18.1
future==1.0.0
gevent==25.4.1
gevent-websocket==0.10.1
greenlet==3.2.0
mariadb==1.1.12
packaging==25.0
pillow==11.2.1
playaudio==1.0.5
pyfingerprint==1.5
pyparsing==3.2.3
pyserial==3.5
setuptools==78.1.1
typing_extensions==4.13.2
zope.event==5.0
zope.interface==7.2
