{% extends 'gestaoassiduidade/funcionarios/main.html' %}

{% block page_body %}
<form class="pure-form" action="{% url 'gestaoassiduidade:funcionarios_edit' func_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <a href="{% url 'gestaoassiduidade:funcionarios_main' %}">
        <button class="button-warning pure-button">Cancelar</button>
    </a>
    <button type="submit" class="pure-button pure-button-primary">Gravar</button>
    <a href="{% url 'gestaoassiduidade:funcionarios_remove' func_id %}">
        <button class="button-error pure-button">Apagar</button>
    </a>
</form>
{% endblock %}