{% extends 'gestaoassiduidade/index.html' %}

{% block menu %}
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:index' %}" class="pure-menu-link">Início</a></li>
<li class="pure-menu-item">
    <a href="{% url 'gestaoassiduidade:funcionarios_main' %}" class="pure-menu-link pure-menu-selected">Funcionários</a>
</li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:picagens_main' %}" class="pure-menu-link">Picagens</a></li>
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:cargos_main' %}" class="pure-menu-link">Cargos</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:turnos_main' %}" class="pure-menu-link">Turnos</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:codstrabalho_main' %}" class="pure-menu-link">Códs. Trabalho</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:import_schedule' %}" class="pure-menu-link">Importar</a></li>
{% endblock %}

{% block header %}
<h1>Lista de funcionários</h1>
{% endblock %}


{% block page_body %}
<table class="pure-table pure-table-bordered">
    <thead>
        <tr><td>ID Funcionário</td><td>Nome funcionário</td><td>ID Biometria</td><td></td></tr>
    </thead>
    <tbody>
        {% for func in funcs %}
            <tr>
                <td>{{ func.id_employee }}</td><td>{{ func.name }}</td><td>gri gri</td>
                <td><a href="{% url 'gestaoassiduidade:funcionarios_edit' func.id_employee %}">
                    <button class="button-warning pure-button">Editar</button>
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'gestaoassiduidade:funcionarios_new' %}">
    <button class="button-secondary pure-button">+ Novo Funcionário</button>
</a>
{% endblock %}