{% extends 'gestaoassiduidade/index.html' %}

{% block menu %}
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:index' %}" class="pure-menu-link">Início</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:funcionarios_main' %}" class="pure-menu-link">Funcionários</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:picagens_main' %}" class="pure-menu-link">Picagens</a></li>
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:cargos_main' %}" class="pure-menu-link">Cargos</a></li>
<li class="pure-menu-item pure-menu-selected">
    <a href="{% url 'gestaoassiduidade:turnos_main' %}" class="pure-menu-link">Turnos</a>
</li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:codstrabalho_main' %}" class="pure-menu-link">Códigos de Trabalho</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:import_schedule' %}" class="pure-menu-link">Importar</a></li>
{% endblock %}

{% block header %}
<h1>Cargos da instituição</h1>
{% endblock %}


{% block page_body %}
<table class="pure-table pure-table-bordered">
    <thead>
        <tr><td>ID do turno</td><td>Início de turno</td><td>Início de pausa</td><td>Fim de pausa</td><td>Fim de turno</td><td></td></tr>
    </thead>
    <tbody>
        {% for shift in shifts %}
            <tr>
                <td>{{ shift.id_shift }}</td><td>{{ shift.time_begin }}</td><td>{{ shift.break_begin }}</td><td>{{ shift.break_end }}</td><td>{{ shift.time_end }}</td>
                <td><a href="{% url 'gestaoassiduidade:turnos_edit' shift.id_shift %}">
                    <button class="button-warning pure-button">Editar</button>
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'gestaoassiduidade:turnos_new' %}">
    <button class="button-secondary pure-button">Novo turno</button>
</a>
{% endblock %}