{% extends 'gestaoassiduidade/index.html' %}

{% block menu %}
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:index' %}" class="pure-menu-link">Início</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:funcionarios_main' %}" class="pure-menu-link">Funcionários</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:picagens_main' %}" class="pure-menu-link">Picagens</a></li>
<li class="pure-menu-item menu-item-divided"><a href="{% url 'gestaoassiduidade:cargos_main' %}" class="pure-menu-link">Cargos</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:turnos_main' %}" class="pure-menu-link">Turnos</a></li>
<li class="pure-menu-item pure-menu-selected">
    <a href="{% url 'gestaoassiduidade:codstrabalho_main' %}" class="pure-menu-link">Códigos de Trabalho</a>
</li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:import_schedule' %}" class="pure-menu-link">Importar</a></li>
<li class="pure-menu-item"><a href="{% url 'gestaoassiduidade:export_attendance' %}" class="pure-menu-link">Exportar</a></li>
{% endblock %}

{% block header %}
<h1>Códigos de Trabalho</h1>
{% endblock %}


{% block page_body %}
<table class="pure-table pure-table-bordered">
    <thead>
        <tr><td>Código de trabalho</td><td>Descrição</td><td>Tipo</td><td></td><td></td></tr>
    </thead>
    <tbody>
        {% for workcode in workcodes %}
            <tr>
                <td>{{ workcode.id_workcode }}</td><td>{{ workcode.descript }}</td><td>{{ workcode.code_type|yesno:"Trabalho,Ausência" }}</td>
                <td><a href="{% url 'gestaoassiduidade:codstrabalho_edit' workcode.id_workcode %}">
                    <button class="button-warning pure-button">Editar</button>
                </a></td>
                <td><a href="{% url 'gestaoassiduidade:codstrabalho_remove' workcode.id_workcode %}">
                    <button class="button-error pure-button">Apagar</button>
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'gestaoassiduidade:codstrabalho_new' %}">
    <button class="button-secondary pure-button">Novo código de trabalho</button>
</a>
{% endblock %}